/Easy_Questions/ConvertToNums/nbproject/private/
/Easy_Questions/Reverse-A-List-Node/nbproject/private/
/Easy_Questions/Jewels_and_Stones/nbproject/private/
/Easy_Questions/FindTheBiggestSum/nbproject/private/
/Easy_Questions/FindTheBiggestSum/build/
/Easy_Questions/DecimaltoFPN/nbproject/private/
/Easy_Questions/ContainsDuplicate/nbproject/private/
/Easy_Questions/ContainsDuplicate/build/
/Easy_Questions/BinaryToHex/nbproject/private/
/Easy_Questions/BinaryToHex/build/
/Easy_Questions/Converstion/nbproject/private/
/Easy_Questions/Converstion/build/
/Easy_Questions/Count/nbproject/private/